
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ab0303;
}

.big-text{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
}

#header img{
    width: 60%;
}

.rifa{
    background-color: #6f0103;
}

.hat-icon{
    width: 1rem;
    height: 1rem;
}

.cart-icon{
    width: 2rem;
    height: 2rem;
}